<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>CanExpansion</key>
			<true/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item0_0</string>
		</dict>
		<dict>
			<key>CanExpansion</key>
			<false/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item0_1</string>
		</dict>
		<dict>
			<key>CanExpansion</key>
			<false/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item0_2</string>
		</dict>
		<dict>
			<key>CanExpansion</key>
			<false/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item0_3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>CanExpansion</key>
			<true/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item1_0</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item1_1</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item1_2</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item1_3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>CanExpansion</key>
			<true/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item2_0</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item2_1</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item2_2</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item2_3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>CanExpansion</key>
			<true/>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item3_0</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item3_1</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item3_2</string>
		</dict>
		<dict>
			<key>CellClassName</key>
			<string>ZYExpansionTableViewCell</string>
			<key>DataSource</key>
			<string>item3_3</string>
		</dict>
	</array>
</array>
</plist>
